.stepper-container{
    background-color: brown;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: cornflowerblue;
    width: 20vh;

}

.stepper-tab{
    
    
    
    
}