.card-group{
    margin-top: 20px ;
    
}
.card-container {
    position: absolute;
    right: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    width: 20rem;
    height: 15rem;
    
    padding: 2px 16px;
    
  }
  .card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card-header {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }

.card-container-2{
    border-radius: 25px;
    position: absolute;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20rem;
    height: 15rem;
    
    align-items: center;
    margin-right: 10px;
}
.card-container-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card-container-3{
    position: absolute;
    right: 25%;
    bottom: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    width: 20rem;
    height: 10rem;
    
    padding: 2px 16px;
    align-items: center;
    
}

.card-container-3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.detail-button{
  width: 120px;
  height: 35px;
  border-radius: 20px;
  margin-left: 10px;
  
}
.detail-button:hover{
  background-color: chocolate;
  transform: scale(1.1);
}

span {
  padding: 5px;
  text-align: center;
  
}